<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Hospebem - Inicio </title>
</head>

<main class="espaco-linhas">
    <div class="agrupadora has-text-centered">

        <h1 class="title is-1 espaco-titulo">Hospebem</h1>
        <p>Sistema de agendamento entre hospitais e pousada <a href="https://www.viavida.org.br/" target="_blank">ViaVida</a>.</h6>

        <div class="columns">
            <img src="/img/hospebem.png" alt="Logo viaVida">
        </div>

        <div sec:authorize="isAuthenticated()">
            <div>
                <p> Seja bem-vindo: <strong><span sec:authentication="name"></span></strong></p>               </p>
            </div>
        </div>

        <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
            Div que somente o administrador pode ver!
            <a th:href="@{/admin}">Ver página de admin!</a> <br>
            <a th:href="@{/assistente}">Tentar ver página de assistente e falhar miseravelmente</a>
        </div>

        <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())">
            Div que somente a assistente social pode ver!
            <a th:href="@{/assistente}">Ver página de assistente!</a> <br>
            <a th:href="@{/admin}">Tentar ver página de admin e falhar miseravelmente</a>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a href="/login">
                <div>Logar</div>
            </a>
            <a href="/registrar">
                <div>Registrar</div>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" class="button is-medium is-outlined" value="Deslogar">
            </form>
        </div>

    </div>
</main>

<script>
    (function () {
        let burger = document.querySelector('.burger');
        let nav = document.querySelector('#' + burger.dataset.target);

        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
</script>
</html>