<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospebem - Quartos</title>
</head>

<body>
<main>
    <div th:include="@{./partes/cabecalhoDadosSolicitante}"/>

    <div class="column has-text-centered">
        <a class="button verde-viavida" th:href="@{/quartos/{id}/listaQuartos(id=${solicitacao.id})}">Voltar</a>
    </div>

    <h1 class="title is-half centralizar espacamento-titulo" th:text="'Quarto: ' + ${quarto.nomeQuarto}"></h1>

    <div class="is-mobile is-centered">
        <h2 class="title is-2 is-half centralizar espacamento-titulo">Ocupado por:</h2>

        <ul>
            <a th:href="@{/quarto/quarto}" class="has-text-centered teste"/>
        </ul>
    </div>
    <div class="is-centered is-half centralizar espacamento" th:if="${quarto.getLeitosDisponiveis() > 0}">
        <form th:action="@{/quarto/aceitar}" method="post">
            <input type="hidden" name="id" th:value="${solicitacao.id}">
            <input type="hidden" name="idQuarto" th:value="${quarto.id}">
            <button type="submit" class="button verde-viavida"> Aceitar Solicitação </button>
        </form>

        <form th:action="@{/quarto/negar}" method="post">
            <input type="hidden" name="id" th:value="${solicitacao.id}">
            <input type="hidden" name="idQuarto" th:value="${quarto.id}">
            <button type="submit" class="button verde-viavida"> Negar Solicitação</button>
        </form>
    </div>
</main>
</body>
</html>