<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Hospebem</title>
</head>

<body>
<main>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())">
        Você não tem autorização para acessar essa página
    </div>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
        <div class="container">
            <div class="section">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a th:href="@{'/bemvindo'}" class="has-text-black" aria-current="page">Início</a></li>
                        <li><a th:href="@{'/quarto/mapaQuartos'}" class="has-text-black" href="#" aria-current="page">Mapa de Quartos</a></li>
                        <li><a th:href="@{'/quarto/umQuarto/' + ${quarto.id}}">Dados do Quarto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="columns is-multiline is-lefty">
                <span class="tag is-success is-medium" th:text="${quarto.nomeQuarto}"></span>
            </div>
            <div class="is-mobile is-centered">
                <h2 class="title is-5 is-half centralizar espacamento-titulo">Ocupado por:</h2>
                <th:block th:each="ocupante : ${ocupantes}">
                    <div class="centralizar">
                        <p>
                            <label>
                                <strong>Nome:</strong>
                            </label>
                            <label th:text="${ocupante.nome}"></label>
                        </p>
                    </div>
                </th:block>
            </div>
            <div class="is-centered is-half centralizar espacamento" th:if="${quarto.leitosDisponiveis() > 0}">
                <form th:action="@{/quarto/aceitar}" method="POST">
                    <input type="hidden" name="idQuarto" th:value="${quarto.id}">
                </form>
                <form th:action="@{/quarto/negar}" method="POST">
                    <input type="hidden" name="idQuarto" th:value="${quarto.id}">
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>