<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospebem</title>
</head>

<body>
    <div th:include="@{./partes/cabecalhoPadrao}"/>

    <main>
        <div class="container">
            <div class="is-mobile">
                <div>
                    <h1 class="title is-half centralizar espacamento">Lista de Gerenciamento de Hospede</h1>

                    <div class="is-mobile is-centered">
                        <div class="is-mobile is-centered"></div>
                        <table class="table centralizar">
                            <tr>
                                <th>Nome</th>
                            </tr>
                            <tr th:each="solicitacao : ${solicitacoesAceitas}">
                                <td>
                                    <a th:href="@{/solicitacao/{id}/editar(id=${solicitacao.id})}" class="has-text-centered" th:text="${solicitacao.nome}" ></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>