<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospebem</title>
</head>

<body>

<main>
    <div class="container">
        <div class="has-text-centered is-centered ">
            <h1 class="title espacamento">Lista de Solicitações da Casa</h1>
            <div th:each="solicitacao : ${solicitacoesCasa}" class="box column">
                <div class="">
                    <strong><span>Nome:</span></strong>
                    <span th:text="${solicitacao.nome} + ' - '"></span>

                    <strong><span>Idade:</span></strong>
                    <span th:text="${calculadoraIdade.apply(solicitacao.dataNascimento)}"></span>
                </div>
                <div class="">
                    <strong><span>Data de solicitação:</span></strong>
                    <span th:text="${solicitacao.formataData()}"></span>
                </div>
                <div>
                    <a th:href="@{/solicitacao/{id}/dados(id=${solicitacao.id})}">
                        <button type="submit" class="button is-rounded is-success ">
                            Ver informações
                        </button>
                    </a>
                    <a th:href="@{/{id}/quartos/listaQuartos(id=${solicitacao.id})}">
                        <button type="submit" class="button verde-viavida is-rounded">
                            Selecionar quarto
                        </button>
                    </a>
                </div>
            </div>

            <a class="button verde-viavida" href="/">Voltar</a>

        </div>
    </div>
</main>

</body>
</html>
