<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hospebem</title>
</head>

<body>

<main>
    <div  sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())"> Você não tem autorização para acessar essa página</div>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
    <div class="container">
        <div class="section">
            <div class="columns is-multiline is-lefty">
                <div th:each="solicitacao : ${solicitacoesCasa}">
                    <div class="column">
                        <div class="box">
                            <strong><span>Nome:</span></strong>
                            <span th:text="${solicitacao.nome} + ' - '"></span>
                            <strong><span>Idade:</span></strong>
                            <span th:text="${calculadoraIdade.apply(solicitacao.dataNascimento)}"></span>
                            <hr>
                            <strong><span>Data de solicitação:</span></strong>
                            <span th:text="${solicitacao.formataData()}"></span>
                            <hr>
                            <div class="field has-addons">
                                <div class="control">
                                    <a th:href="@{/solicitacao/{id}/dados(id=${solicitacao.id})}">
                                            <button type="submit" class="button borda-arredondada">
                                                Ver informações
                                            </button>
                                        </a>
                                    </div>
                                    <div class="control">
                                        <a th:href="@{/quarto/{id}/listaQuartos(id=${solicitacao.id})}">
                                            <button type="submit" class="button verde-viavida borda-arredondada">
                                                Selecionar quarto
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
