<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8">
    <title>Hospebem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" >
                <p class="titulo-nav">HospeBem</p>
            </a>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item " href="/">Voltar</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="is-mobile">
            <div>
                <h1 class="title is-half centralizar espacamento">Lista de Solicitações</h1>
                <form th:action="@{/solicitacao/cadastro}" method="GET">
                    <div class="is-centered is-half centralizar espacamento">
                        <input type="submit" class="button is-info" value="Solicitar Vaga" />
                    </div>
                </form>
                <div class="is-mobile is-centered">

                    <table class="table pricing__table">


                        <div class="is-mobile is-centered">
                        </div>
                        <table class="table centralizar" id="solicitacoes">

                            <tr>
                                <th>Nome </th>
                                <th>Última atualização</th>
                                <th>Status</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>

                            </thead>


                            <tr th:each="solicitacao : ${solicitacoesHospital}">
                                <td class="has-text-centered" th:text="${solicitacao.nome}"></td>
                                <td class="has-text-centered">11-11-2018</td>
                                <td class="has-text-centered">Pendente</td>
                                <td class="column has-text-centered">
                                    <a href="/">
                                        <button class="button" type="submit" onclick="deleteRow(this.parentNode.parentNode.rowIndex)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <form th:action="@{/solicitacao/excluir}" method="delete">
                                        <input type="hidden" name="id" th:value="${solicitacao.id}">
                                        <button class="button " type="submit">
                                            <i class="fas fa-trash icons-color"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    function deleteRow(i){
        document.getElementById('solicitacoes').deleteRow(i)
    }


</script>
</body>
</html>