<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospebem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div th:include="@{/partes/cabecalhoPadrao}"/>

    <main>
        <div class="container">
            <div class="is-mobile">
                <div>
                    <h1 class="title is-half centralizar espacamento">Lista de Solicitações</h1>
                    <form th:action="@{/solicitacao/cadastro}" method="GET">
                        <div class="is-centered is-half centralizar espacamento">
                            <input type="submit" class="button verde-viavida" value="Solicitar Vaga" />
                        </div>
                    </form>
                    <div class="is-mobile is-centered">
                        <div class="is-mobile is-centered">
                        </div>
                        <table class="table centralizar">
                            <tr>
                                <th>Nome </th>
                                <th>Última atualização</th>
                                <th>Status</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>

                            <tr th:each="solicitacao : ${solicitacoesHospital}">
                                <td class="has-text-centered" th:text="${solicitacao.nome}"></td>
                                <td class="has-text-centered">11-11-2018</td>
                                <td class="has-text-centered" th:text="${solicitacao.status}"></td>
                                <td class="column has-text-centered">
                                    <a th:href="@{/solicitacao/{id}/editar(id=${solicitacao.id})}">
                                        <button class="button" type="submit" th:if="${solicitacao.status}!='aceito'">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <form method="post" th:href="@{solicitacao/excluir/{id}(id=${solicitacao.id})}">
                                        <button class="button" type="submit">
                                            <input type="hidden" name="id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>