<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hospebem</title>
</head>

<body>
<main>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())">
        Você não tem autorização para acessar essa página
    </div>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
        <div class="container">
            <div class="section">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a th:href="@{'/bemvindo'}" class="has-text-black" aria-current="page">Início</a></li>
                        <li><a th:href="@{'/usuario/listaUsuarios'}" aria-current="page">Lista de Usuários</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <h3 class="title is-3 v center has-text-centered">Lista de Gerenciamento de Usuários</h3>
            </div>
            <div class="section">
                <div class="columns is-multiline is-lefty">
                    <th:block th:each="usuario : ${usuarios}">
                        <div class="column is-3 is-mobile">
                            <div class="box box-shadow">
                                <div class="column">
                                    <div class="centralizar">
                                        <strong>Nome:</strong>
                                        <label class="has-text-centered" th:text="${usuario.nome}"></label>
                                    </div>
                                    <hr>
                                    <div class="centralizar">
                                        <label id="tipoCargo" th:text="${usuario.cargo.toString()} == 'ADMINISTRADOR' ? 'Administrador' : 'Assitente Social'"></label>
                                    </div>
                                    <hr>
                                    <div class="centralizar">
                                        <div>
                                            <div>
                                                <a th:href="@{'/usuario/' + ${usuario.id} + '/editaUsuario'}">
                                                    <button class="button borda-arredondada is-mobile" type="button" onsubmit="return validaUsuario(event)">
                                                        <label>Editar</label>
                                                        <label class="icon is-small">
                                                            <i class="fas fas fa-edit"></i>
                                                        </label>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <a th:href="@{'/usuario/' + ${usuario.id} + '/excluirUsuario'}">
                                            <button class="button is-danger borda-arredondada" type="submit" onclick="return confirm('Tem certeza que deseja excluir?');">
                                                <label>Excluir</label>
                                                <label class="icon is-small">
                                                    <i class="fas fa-trash-alt"></i>
                                                </label>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>