<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esqueci Minha Senha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Hospebem</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Login</a></li>

            </ul>
        </div>
    </nav>
</header>

<div class="container card-content valign center">
    <form>
        <h4>Problemas para se conectar?</h4>
        <p>Digite seu endereço de e-mail cadastrado e enviaremos instruções de ajuda.</p>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">contact_mail</i>
                <input id="email" type="text" name="email" class="validate">
                <label for="email">E-mail</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Recuperar Senha
            <i class="material-icons right">chevron_right</i>
        </button>
    </form>
</div>
</body>
</html>