<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospebem - Dados Paciente</title>
</head>
<body>

<div th:include="@{./partes/cabecalhoPadrao}"/>
<main>
    <div class="card-content valign center has-text-centered">
        <div class="columns ">
            <ul th:object="${solicitacao}">
                <h2 class="title is-2">Dados Paciente</h2>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Nome </label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="nome" th:value="${solicitacao.nome}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Gênero</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="genero" th:value="${solicitacao.genero}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Status</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="status" th:value="${solicitacao.status}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Situação</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="situacao" th:value="${solicitacao.situacao}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Órgão</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="orgao" th:value="${solicitacao.orgao}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data de Nascimento</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="dataNascimento" th:value="${solicitacao.dataNascimento.format(formatar)}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefone</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="telefone" th:value="${solicitacao.telefone}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Peso</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="peso" th:value="${solicitacao.peso}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data de Entrada</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="dataEntrada" th:value="${solicitacao.dataEntrada.format(formatar)}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data de Saída (Previsão)</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="dataSaida" th:value="${solicitacao.dataSaida.format(formatar)}" disabled>
                        </div>
                    </div>
                </div>

                <h2 class="title is-2">Endereço</h2>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Rua</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="rua" th:value="${solicitacao.endereco.rua}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Número</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="numero" th:value="${solicitacao.endereco.numero}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Cidade</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="cidade" th:value="${solicitacao.endereco.cidade}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Bairro</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="bairro" th:value="${solicitacao.endereco.bairro}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">UF</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="uf" th:value="${solicitacao.endereco.uf}" disabled>
                        </div>
                    </div>
                </div>

                <h2 class="title is-2">Dados Acompanhante</h2>

                <div th:each="acomp, index : ${solicitacao.acompanhantes}">
                    <ul th:if="${acomp.nome} != ''">
                        <h5 class="title is-5">Acompanhante
                            <span th:text="${index.index + 1}"></span>:
                        </h5>
                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Nome</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="nomeAcomp" th:value="${acomp.nome}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Gênero</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="generoAcomp" th:value="(${acomp.genero} == 'F' ? 'Feminino' : (${acomp.genero} == 'M' ? 'Masculino') )" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Data de Nascimento</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="dataNascimentoAcomp" th:value="${acomp.dataNascimento.format(formatar)}" disabled>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <h2 class="title is-2">Dados Assistente Social</h2>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Nome</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="rua" th:value="${solicitacao.endereco.rua}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="numero" th:value="${solicitacao.endereco.numero}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefone</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="cidade" th:value="${solicitacao.endereco.cidade}" disabled>
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Hospital</label>
                        </div>
                        <div class="control">
                            <input class="validate input is-info" type="text" name="bairro" th:value="${solicitacao.endereco.bairro}" disabled>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</main>
</body>
</html>