<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospebem - Dados Paciente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main>
    <div class="card-content valign center has-text-centered">
        <div class="columns ">
            <form th:action="@{/solicitacao/{id}/dadosPaciente(id=${solicitante.id})}" th:object="${solicitante}" method="POST">
                <ul th:object="${formata}">
                    <h2 class="title is-2">Dados Paciente</h2>
                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Nome </label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="nome" th:value="${solicitante.nome}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gênero</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="genero" th:value="(${solicitante.genero== 'F'} ? 'Feminino' : 'Masculino')" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Status</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="status" th:value="${solicitante.status}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Situação</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="situacao" th:value="(${solicitante.situacao== 'pre'} ? 'Pré-Transplantado' : 'Pós-Transplantado')" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Nascimento</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataNascimento" th:value="${solicitante.dataNascimento.format(formata)}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Telefone</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="telefone" th:value="${solicitante.telefone}">
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Peso</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="peso" th:value="${solicitante.peso}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Entrada</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataEntrada" th:value="${solicitante.dataEntrada.format(formata)}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Saída</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataSaida" th:value="${solicitante.dataSaida}" >
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-2">Endereço</h2>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Rua</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="rua" th:value="${solicitante.endereco.rua}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Número</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="numero" th:value="${solicitante.endereco.numero}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Cidade</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="cidade" th:value="${solicitante.endereco.cidade}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Bairro</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="bairro" th:value="${solicitante.endereco.bairro}" >
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">UF</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="uf" th:value="${solicitante.endereco.uf}" >
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-2">Dados Acompanhante</h2>

                    <div th:each="acomp, index : ${solicitante.acompanhantes}">

                        <h5 class="title is-5">Acompanhante
                            <span th:text="${index.index + 1}"></span>:
                        </h5>
                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Nome</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="nomeAcomp" th:value="${acomp.nome}">
                                </div>
                            </div>
                        </div>

                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Data de Nascimento</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="dataNascimentoAcomp" th:value="${acomp.dataNascimento}">
                                </div>
                            </div>
                        </div>
                    </div>

                </ul>
                <button class="button is-danger" type="submit">salvar</button>
                <a class="button is-info" href="/solicitacao/casa/lista">Voltar</a>
            </form>
        </div>



    </div>
</main>
</body>
</html>