<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospebem - Dados Paciente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="card-content valign center has-text-centered">
            <div class="columns ">
                <ul th:object="${hospede}">
                    <h2 class="title is-2">Dados Paciente</h2>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Nome </label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="nome" th:value="${hospede.nome}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gênero</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="genero" th:value="(${hospede.genero == 'F'} ? 'Feminino' : 'Masculino')" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Status</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="status" th:value="${hospede.status}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Situação</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="situacao" th:value="(${hospede.situacao == 'pre'} ? 'Pré-Transplantado' : 'Pós-Transplantado')" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Nascimento</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataNascimento" th:value="${hospede.dataNascimento.format(formata)}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Telefone</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="telefone" th:value="${hospede.telefone}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Peso</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="peso" th:value="${hospede.peso}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Entrada</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataEntrada" th:value="${hospede.dataEntrada.format(formata)}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Saída</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="dataSaida" th:value="${hospede.dataSaida.format(formata)}" disabled>
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-2">Endereço</h2>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Rua</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="rua" th:value="${hospede.endereco.rua}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Número</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="numero" th:value="${hospede.endereco.numero}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Cidade</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="cidade" th:value="${hospede.endereco.cidade}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Bairro</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="bairro" th:value="${hospede.endereco.bairro}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">UF</label>
                            </div>
                            <div class="control">
                                <input class="validate input is-info" type="text" name="uf" th:value="${hospede.endereco.uf}" disabled>
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-2">Dados Acompanhante</h2>

                    <div th:each="acomp, index : ${hospede.acompanhantes}">

                        <h5 class="title is-5">Acompanhante
                            <span th:text="${index.index + 1}"></span>:
                        </h5>
                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Nome</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="nomeAcomp" th:value="${acomp.nome}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="column is-10">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Data de Nascimento</label>
                                </div>
                                <div class="control">
                                    <input class="validate input is-info" type="text" name="dataNascimentoAcomp" th:value="${acomp.dataNascimento.format(formata)}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>