<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
    <title>Formulario</title>
</head>
<body>
<main>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())">Você não tem autorização para acessar essa página</div>
    <div  sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
    <div class="container">
        <div class="section">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a th:href="@{'/bemvindo'}" class="has-text-black" aria-current="page">Início</a></li>
                        <li><a th:href="@{'/solicitacao/listagemHospede'}" class="has-text-black" aria-current="page">Lista de Solicitações</a></li>
                        <li><a th:href="@{'/solicitacao' + '/' + ${solicitacao.id}+ '/editarHospede'}">Editar Solicitação</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <h3 class="title is-3 v center has-text-centered"> Dados do Hóspede</h3>
            </div>
            <div class="columns is-mobile card-content">
                <form th:object="${solicitacao}" th:action="@{'/solicitacao/' + ${solicitacao.id} + '/editarHospede'}" method="post" onsubmit="return validaCadastroSolicitacao(event)"
                      id="formSolicitacao">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Nome </span>
                                <input class="validate input input-fancy borda-arredondada" type="text" th:field="*{nome}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{genero}" type="radio" value="Feminino" id="genero1">
                                    <span>Feminino</span>
                                </label>
                                <label>
                                    <input th:field="*{genero}" type="radio" value="Masculino" id="genero2">
                                    <span>Masculino</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Data de Nascimento:</span>
                                <input id="dataNascimento" placeholder="Clique para selecionar uma data"
                                       type="text" class="input input-fancy datepicker-retroativo borda-arredondada" th:field="*{dataNascimento}"
                                       onkeypress="return false;" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Peso:</span>
                                <input class="validate input input-fancy borda-arredondada" name="peso" th:value="${solicitacao.peso}" >
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Situação:</span>
                                <label>
                                    <input th:field="*{situacao}" type="radio" value="Pré-transplante" id="situacao.pre">
                                    <span>Pré-transplante</span>
                                </label>
                                <label>
                                    <input th:field="*{situacao}" type="radio" value="Pós-transplante" id="situacao.pos">
                                    <span>Pós-transplante</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Data do transplante:</span>
                                <input id="dataTransplante" placeholder="Clique para selecionar uma data"
                                       type="text" class="input input-fancy datepicker-futuro borda-arredondada" th:field="*{dataTransplante}"
                                       onkeypress="return false;">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Telefone</span>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy borda-arredondada" type="text" name="telefone" th:field="*{telefone}">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Data de Entrada</span>
                                <div class="control">
                                    <input id="dataEntrada" placeholder="Clique para selecionar uma data" autocomplete="off"
                                           type="text" class="input input-fancy datepicker-futuro borda-arredondada" th:field="*{dataEntrada}"
                                           onkeypress="return false;" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Data de Saída</span>
                                <input class="validate input input-fancy datepicker-futuro borda-arredondada" autocomplete="off" type="text" name="dataSaida" th:field="*{dataSaida}"
                                       onkeypress="return false;">
                            </div>
                        </div>
                    </div>
                    <h3 class="title is-3">Endereço</h3>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label class="label">Rua</label>
                            </div>
                            <div class="control">
                                <input type="hidden" th:field="*{endereco.id}">
                                <input class="validate input input-fancy borda-arredondada" type="text" th:field="*{endereco.rua}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label class="label">Número</label>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy borda-arredondada" type="text" name="numero" th:field="*{endereco.numero}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <span>Cidade</span>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy borda-arredondada" type="text" name="cidade" th:field="*{endereco.cidade}">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label class="label">Bairro</label>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy borda-arredondada" type="text" name="bairro" th:field="*{endereco.bairro}">
                            </div>
                        </div>

                    </div>

                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <label class="label">UF</label>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy borda-arredondada" type="text" name="uf" th:field="*{endereco.uf}">
                            </div>
                        </div>
                    </div>
                    <h3 class="title is-3">Dados do Acompanhante</h3>
                    <div th:each="acompanhante, acompIndex : ${solicitacao.acompanhantes}">
                        <input class="validate input input-fancy borda-arredondada" type="hidden" th:field="*{acompanhantes[__${acompIndex.index}__].id}" />
                        <h5 class="title is-5">Acompanhante</h5>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Nome</label>
                                </div>
                                <div class="control">
                                    <p>Nome acompanhante <span th:text="${acompIndex.index + 1}"></span>:
                                        <input class="validate input input-fancy borda-arredondada" type="text"  th:field="*{acompanhantes[__${acompIndex.index}__].nome}">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Gênero</label>
                                </div>
                                <div class="control">
                                    <label>
                                        <input class="genero" type="radio" value="Feminino" th:field="*{acompanhantes[__${acompIndex.index}__].genero}">
                                        <span>Feminino</span>
                                    </label>
                                    <label>
                                        <input class="genero" type="radio" value="Masculino" th:field="*{acompanhantes[__${acompIndex.index}__].genero}">
                                        <span>Masculino</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Data de Nascimento</label>
                                </div>
                                <div class="control">
                                    <input class="validate input input-fancy datepicker-retroativo borda-arredondada" autocomplete="off" type="text" th:field="*{acompanhantes[__${acompIndex.index}__].dataNascimento}"
                                           onkeypress="return false;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="button verde-viavida borda-arredondada">
                            <span>Salvar</span>
                            <span class="icon is-small"><i class="fas fa-gavel"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var datepickerFields = document.getElementsByClassName('datepicker');

        for (var i = 0; i < datepickerFields.length; i++) {
            seletorDeData(datepickerFields[i]);
        }
    })

</script>

</html>