<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
      <title>Formulario</title>
</head>
<body>

<main>
    <div class="card-content valign center has-text-centered">
        <div class="columns">
            <form th:object="${solicitacao}" th:action="@{/solicitacao/{id}/editar(id=${solicitacao.id})}" method="post" onsubmit="return validaCadastroSolicitacao(event)"
                  id="formSolicitacao">
                <h2 class="title is-2">Dados Paciente</h2>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Nome </label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" th:field="*{nome}">
                        </div>
                    </div>
                </div>
                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Gênero</label>
                        </div>
                        <div class="control">
                            <input th:field="*{genero}" type="radio" value="F" id="genero1">
                            <span>Feminino</span>

                            <label>
                                <input th:field="*{genero}" type="radio" value="M" id="genero2">
                                <span>Masculino</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <span>Data de Nascimento:</span>
                            <input id="dataNascimento" placeholder="Clique para selecionar uma data"
                                   type="text" class="input input-fancy datepicker-retroativo" th:field="*{dataNascimento}"
                                   onkeypress="return false;">
                        </div>
                    </div>
                </div>
                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Situação</label>
                        </div>
                        <div class="control">
                            <input th:field="*{situacao}" type="radio" value="pre" id="situacao.pre">
                            <span>Pré-transplante</span>
                            </label>
                            <label>
                                <input th:field="*{situacao}" type="radio" value="pos" id="situacao.pos">
                                <span>Pós-transplante</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <span>Data do transplante:</span>
                            <input id="dataTransplante" placeholder="Clique para selecionar uma data"
                                   type="text" class="input input-fancy datepicker-futuro" th:field="*{dataTransplante}"
                                   onkeypress="return false;">
                        </div>
                    </div>
                </div>
                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefone</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" name="telefone" th:field="*{telefone}">
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Peso</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="number" min="0" max="600" step="0.1" id="peso" value="0"  th:field="*{peso}" >
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data de Entrada</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy datepicker-futuro" autocomplete="off" type="text" name="dataEntrada" th:field="*{dataEntrada}"
                                   onkeypress="return false;">
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data de Saída</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy datepicker-futuro" autocomplete="off" type="text" name="dataSaida" th:field="*{dataSaida}"
                                   onkeypress="return false;">
                        </div>
                    </div>
                </div>


                <h2 class="title is-2">Endereço</h2>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Rua</label>
                        </div>
                        <div class="control">
                            <input type="hidden" th:field="*{endereco.id}">
                            <input class="validate input input-fancy" type="text" th:field="*{endereco.rua}">
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Número</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" name="numero" th:field="*{endereco.numero}">
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Cidade</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" name="cidade" th:field="*{endereco.cidade}">
                        </div>
                    </div>
                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Bairro</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" name="bairro" th:field="*{endereco.bairro}">
                        </div>
                    </div>

                </div>

                <div class="column is-10">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">UF</label>
                        </div>
                        <div class="control">
                            <input class="validate input input-fancy" type="text" name="uf" th:field="*{endereco.uf}">
                        </div>
                    </div>
                </div>

                <h2 class="title is-2">Dados Acompanhante</h2>
                <div th:each="acompanhante, acompIndex : ${solicitacao.acompanhantes}">
                    <input class="validate input input-fancy" type="hidden" th:field="*{acompanhantes[__${acompIndex.index}__].id}" />
                    <h5 class="title is-5">Acompanhante
                    </h5>
                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Nome</label>
                            </div>
                            <div class="control">
                                <p>Nome acompanhante <span th:text="${acompIndex.index + 1}"></span>:
                                    <input class="validate input input-fancy" type="text"  th:field="*{acompanhantes[__${acompIndex.index}__].nome}">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gênero</label>
                            </div>
                            <div class="control">
                                <label>
                                    <input class="genero" type="radio" value="F" th:field="*{acompanhantes[__${acompIndex.index}__].genero}">
                                    <span>Feminino</span>
                                </label>
                                <label>
                                    <input class="genero" type="radio" value="M" th:field="*{acompanhantes[__${acompIndex.index}__].genero}">
                                    <span>Masculino</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="column is-10">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Data de Nascimento</label>
                            </div>
                            <div class="control">
                                <input class="validate input input-fancy datepicker-retroativo" autocomplete="off" type="text" th:field="*{acompanhantes[__${acompIndex.index}__].dataNascimento}"
                                       onkeypress="return false;">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="button verde-viavida"> Salvar </button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var datepickerFields = document.getElementsByClassName('datepicker');

        for (var i = 0; i < datepickerFields.length; i++) {
            seletorDeData(datepickerFields[i]);
        }
    })

</script>

</html>