<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
    <title>Formulario</title>
</head>
<body>
<main>
    <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ASSISTENTE_SOCIAL.getNome())"> Você não tem autorização para acessar essa página</div>
    <div  sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.login.dominio.Cargo).ADMINISTRADOR.getNome())">
        <div class="container">
            <div class="section">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a th:href="@{'/bemvindo'}" class="has-text-black" href="#" aria-current="page">Inicio</a></li>
                        <li><a th:href="@{'/listaUsuarios'}" class="has-text-black" href="#" aria-current="page">Lista de Usuários</a></li>
                        <li><a th:href="@{'/' + ${usuarios.id} + '/editaUsuario'}">Dados do Usuário</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-content valign center has-text-centered">
                <div class="column">
                    <h3 class="title is-3 v center has-text-centered"> Dados do Usuario</h3>
                </div>
                <div class="columns is-mobile card-content">
                    <form th:action="@{/{id}/editaUsuario(id=${usuarios.id})}" method="post" onsubmit="return validaUsuario(event)">


                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <p class="control has-icons-left has-icons-right margin-left-10">
                                        <i class="fas fa-user"></i>
                                        <span>Usuário</span>
                                    </p>
                                    <input id="usuario" class="validate input input-fancy borda-arredondada" type="text" th:field="*{usuarios.nome}">
                                </div>
                            </div>
                        </div>

                        <div id="camposAssistenteHospital" th:class="${usuarios.cargo.toString() == 'ADMINISTRADOR'} ? 'display-none' : ''">
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <span>Nome</span>
                                    <input id="nome" class="validate input input-fancy borda-arredondada" type="text" th:field="*{usuarios.nomeAssistente}">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <span>Email</span>
                                    <input id="email" class="validate input input-fancy borda-arredondada" type="text" th:field="*{usuarios.email}">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <span>Hospital de Refêrencia</span>
                                    <input id="hospitalReferencia" class="validate input input-fancy borda-arredondada" type="text" th:field="*{usuarios.hospitalReferencia}">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <span>Telefone</span>
                                    <input id="telefone" class="validate input input-fancy borda-arredondada" type="text" th:field="*{usuarios.telefone}">
                                </div>
                            </div>
                        </div>

                        </div>
                        <div>
                            <a th:href="@{/listaUsuarios}">
                                <button type="submit" class="button verde-viavida borda-arredondada">
                                    <span>Salvar</span>
                                    <span class="icon is-small"><i class="fas fa-gavel"></i></span>
                                </button>
                            </a>
                            <a th:href="@{'/' + ${usuarios.id} + '/editaSenhaUsuario'}">
                                <button class="button borda-arredondada" type="button">
                                    <span>Editar Senha</span>
                                    <span class="icon is-small">
                                    <i class="fas fas fa-edit"></i>
                                </span>
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var datepickerFields = document.getElementsByClassName('datepicker');

        for (var i = 0; i < datepickerFields.length; i++) {
            seletorDeData(datepickerFields[i]);
        }
    })

</script>

</html>