<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospebem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar is-fixed-top is-info centralizar" aria-label="main navigation">
        <label>
            HOSPEBEM
        </label>
    </nav>
</header>
<main>
    <div class="container">
        <div class="is-mobile">
            <div>
                <h1 class="title is-half centralizar espacamento">Lista de Gerenciamento de Hospede</h1>

                <div class="is-mobile is-centered">

                    <table class="table pricing__table">
                    <div class="is-mobile is-centered"></div>
                        <table class="table centralizar">

                            <tr>
                                <th>Nome</th>
                            </tr>
                            <tr th:each="solicitacao : ${gerenciaHospede}">
                            <td> <a href="/login" class="has-text-centered" th:text="${solicitacao.nome}"></a></td>
                            </tr>
                            </table>
                            </table>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>