<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hospebem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar is-fixed-top is-info centralizar" aria-label="main navigation">

                    <label>
                        HOSPEBEM
                    </label>
    </nav>
</header>
<main>
    <div class="container">

        <div class="columns is-mobile is-centered">
            <div class="column">
                <h1 class="title is-half centralizar espacamento">Lista de Solicitações</h1>

                <form action="/solicitacao/cadastro">
                    <div class="is-centered is-half centralizar espacamento">
                        <input type="submit" class="button is-info" value="Solicitar Vaga" />
                    </div>
                </form>
                <tr>
                <div class="columns is-mobile is-centered">
                        <table class="table centralizar">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Última Atualização</th>
                                <th>Status</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="solicitacao : ${solicitacoesHospital}">
                                <td th:text="${solicitacao.nome}"></td>
                                <td>11-11-2018</td>
                                <td th:text="${soliticao.status}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</main>

</body>
</html>