#cabecalho{
    background-color: rgb(26,188,156);
}

h1, p, .botao, #email{
    text-align: center;
    padding: 10px;
}

p{
    font-size: 20px;
    color: whitesmoke;
}

.botao{
    margin-top: 4%;
}

#button:hover{
    background-color: rgb(0,209,178);
}

#email{
    width: 50%;
}

#logo:hover{
    text-decoration: underline;
}

#subtitulo{
    padding: 3%;
}