
body{
    font-family: sans-serif;
}

.navbar{
    background-color: rgb(113, 112, 116);
    text-align: center;
    font-size: 172%;
}

.dados-paciente{
    text-align: justify;
}
.dados-paciente *{
    margin-bottom: 16px;
}

.sessao {
    margin-top: 30px;
}
