body {
    font-family: arial, sans-serif;
    font-size: 17px;
}

.espacamento {
    margin: 70px;
}

.input.input-fancy{
    border-color: rgba(56, 124, 43, 1);
}

button {
    align-items: center;
}

.campo-obrigatorio {
    color: rgba(244, 75, 66, 1);
}

.centralizar {
    display: flex;
    justify-content: center;
}

.columns {
    display: flex;
    justify-content: center;
}

.dados-paciente{
    text-align: justify;
}

.dados-paciente {
    text-align: justify;
    padding-top: 5vh;
}

.display-none {
    display: none;
}

.botao-esqueci-senha {
    color: rgba(70, 178, 235, 1);
}

.espacamento {
    margin: 70px;
}

.espaco-linhas * {
    padding-bottom: 3vh;
}

.footer{
    padding: 15px;
    background-color: rgba(222, 222, 222, 1);
    color: rgba(121, 121, 121, 1);
    border-top: 1px solid rgba(121, 121, 121, 1);
    position: fixed;
    bottom:0;
    width:100%;
}
.navbar {
    background-color: rgba(56, 124, 43, 1);
    position: relative;
    width:100%;
}

.navbar-item {
    color: rgb(255,255,255);
}

.navbar-item:hover p {
    color: rgb(255,255,255);
}

.is-active {
    background-color: rgb(70, 178, 235);
}

.recuperar {
    padding-top: 2%;
}

.sessao, .espaco-titulo{
    margin-top: 30px;
}

.titulo-nav{
    font-size: 1.5rem;
}

.titulo-h1 {
    font-size: 2rem;
}

.verde-viavida {
    background-color: rgba(56, 124, 43, 1);
    border-color: transparent;
    color: #fff;
}

.verde-viavida:hover{
    color: #fff;
    background-color: rgb(95, 195, 130);
}

.select.verde-viavida:not(:hover)::after {
    border-color: rgba(56, 124, 43, 1);
    padding-bottom: 1px;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: rgba(56, 124, 43, 1);
    right: 1.125em;
    z-index: 4;
}

.select:not(.is-multiple) {
    height: 2em;
    width: 100%;
}

.select {
    border-radius: 162px;
    width: 100%;
}

.select select {
    height: 4vh;
    width: 100%;
    border-color: rgba(56, 124, 43, 1);
}

.select select:hover, .select select.is-hovered {
    border-color: rgba(56, 124, 43, 1);
}
