<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
<div class="agrupadora">
    <header class="cabecalho">
        <h1>Hospebem</h1>
    </header>

    <nav class="navegacao">
        <ul>
            <a href="/"><li>Início</li></a>
            <a href="/pessoa/lista"><li>Pessoas</li></a>
            <a href="/pessoa/cadastro"><li>Cadastrar Pessoa</li></a>
            <a href="/solicitacao/cadastro"><li>Cadastro solicitação </li></a>
            <a href="/solicitacao/casa/lista"><li>Lista geral de solicitações casa</li></a>
            <a href="/solicitacao/hospital/lista"><li>Lista geral de solicitações hospital</li></a>
            <a href="/gerenciarHospede/listagenHospede"><li>Gerenciar Hospede</li></a>
            <a href="/registrar"><li>Registrar</li></a>
        </ul>
    </nav>
</div>
</body>
</html>