<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout(title, content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:replace="${title}"></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="https://unpkg.com/pikaday@1.7.0/css/pikaday.css">
    <link href="/css/style.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://unpkg.com/pikaday@1.7.0/pikaday.js"></script>
    <script src="/js/calender.js"></script>
    <script src="/js/validaCadastroSolicitacao.js"></script>
    <script src="/js/validaIdade.js"></script>
    <script src="/js/validacaoRegistrar.js"></script>

</head>

<body>
<header>
    <nav class="navbar is-mobile " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="titulo-nav">HospeBem</p>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item menu">
                        Menu
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/solicitacao/cadastro}">
                            Cadastro solicitação
                        </a>
                        <a class="navbar-item" th:href="@{/solicitacao/hospital/lista}">
                            Lista de solicitações hospital
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>
<main th:replace="${content}"></main>
<footer class="footer">
    <div class="content has-text-centered">
        <p> HospeBem © 2018</p>
    </div>
</footer>
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let datepickerFields = document.getElementsByClassName('datepicker');
        for (let i = 0; i < datepickerFields.length; i++) {
            seletorDeData(datepickerFields[i]);
        }
        let pesoInput = document.getElementById('peso');
        if(pesoInput){
            pesoInput.addEventListener('input', pesoCadeirante());
        }

        registraAssistente();

    });
</script>

</html>