<div class="column centralizar" xmlns:th="http://www.thymeleaf.org">
    <div class="box">
        <p class="centralizar">
            <b>Informações Paciente</b>
        </p>
        <p>
            <label>
                <strong>Nome:</strong>
            </label>
            <label th:text="${solicitacao.nome}"></label>
        </p>

        <p>
            <label>
                <strong>Gênero:</strong>
            </label>
            <label th:text="${solicitacao.genero}"></label>
        </p>
        <p>
            <label>
                <strong>Número de acompanhantes:</strong>
            </label>
            <label th:text="${numeroHospedes}"></label>
        </p>
        <p>
            <label>
                <strong>Órgão:</strong>
            </label>
            <label th:text="${solicitacao.orgao}"></label>
        </p>
    </div>
</div>