<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HospeBem Registrar</title>
</head>
<body>
<main>
    <div class="container card-content valign center has-text-centered">
        <div class="section">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul><div><span>Ja existe um registro com este nome de usuario </span></div>
                    <li><a th:href="@{'/registrar'}">Registrar</a></li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>
