<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HospeBem Registrar</title>
</head>

<body>
<main>
    <div class="container card-content has-text-centered">
        <div class="box section">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <div>
                    <span>Usuário registrado com sucesso!</span>
                </div>
                <div class="centralizar">
                    <div>
                        <a th:href="@{'/registrar'}">
                            <button class="button verde-viavida borda-arredondada">Registrar</button>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{'/bemvindo'}">
                            <button class="button verde-viavida borda-arredondada">Tela inicial</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</main>
</body>
</html>
